@import "~bootstrap/scss/bootstrap";
@import "~leaflet/dist/leaflet.css";
@import "~react-leaflet-markercluster/dist/styles.min.css";

.App {
  font: 14px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

html, body, #root, .App, #mapId {
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
}

.App {
  position: relative;
}

code {
  color: darkblue;
  background-color: lightgrey;
}

.codeblock pre {
  margin-left: -100px;
}

a:visited{
  color: inherit;
}
a:hover{
  color: royalblue;
}

.sidebar-content{
  border-left: 1px solid lightgrey;
}

.checkoutpropsbutton{
  border: none;
  background-color: white;
  padding: 0;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: royalblue
  }
}
// To reset react-bootstrap drop arrow
.dropdown a::after {
  border: 0;
}

.nav_link_custom {
  display: flex;
  align-items: flex-start;
}

.navbar-nav a {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  width: 16vh;
  justify-content: space-around;
}

#props{

  h3 {
    font-family: monospace;
    margin: 20px 0 0;
    border-bottom: 1px solid grey;
  }

  h4 {
    margin: 0;
    font-weight: normal;
    font-family: monospace;
  }

  span.required {
    color: red;
    font-style: italic;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 0.8em;
  }

  p {
    margin: 0;
  }

  code {
    background-color: white;
    color: black;
  }

}