@import "../variables";
.MuiDialogTitle-root {
  color: #fff;
  background-color: #0074d9;
}
.report-dialog {
  width: 250px;
}
@media (max-width: $screen-very-small ) {
  .report-dialog {
    width: 250px;
  }
}

@media (min-width: $screen-very-small ) and (max-width: $screen-small ) {
  .report-dialog {
    width: 375px;
  }
}

@media (min-width: $screen-small ) and (max-width: $screen-medium ) {
  .report-dialog {
    width: 375px;
  }
}

@media (min-width: $screen-medium ) and (max-width: $screen-large ) {
  .report-dialog {
    width: 450px;
  }
}

@media (min-width: $screen-large) {
  .report-dialog{
    width: 650px;
  }
}
// .image-gallery {
//   width: 100%;
//   height: auto;
// }

// .image-gallery-slide img {
//   width: 100%;
//   height: auto;
//   max-height: 80vh;
//   object-fit: cover;
//   overflow: hidden;
//   object-position: center center;
// }

// .fullscreen .image-gallery-slide img {
//   max-height: 100vh;
// }
