name: Build and Deploy to Cloud Run

on:
  workflow_run:
    workflows: [ "Migration Upgrade DB" ]
    branches: [ master ]
    types:
      - completed
  push:
    branches:
      - master

env:
  PROJECT_ID: ecoocean
  SERVICE: ecoocean-server
  REGION: europe-west1

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./server
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Cloud SDK
      uses: google-github-actions/setup-gcloud@v0.2.0
      with:
        project_id: ecoocean
        service_account_key: ${{ secrets.RUN_SA_KEY }}

    - name: Authorize Docker push
      run: gcloud auth configure-docker

    - name: Build and Push Container
      run: |-
        docker build -t gcr.io/${{ env.PROJECT_ID }}/${{ env.SERVICE }}:${{  github.sha }} .
        docker push gcr.io/${{ env.PROJECT_ID }}/${{ env.SERVICE }}:${{  github.sha }}
        
    - name: Deploy to Cloud Run
      run: |-
        gcloud run deploy ${{ env.SERVICE }} \
          --region ${{ env.REGION }} \
          --image gcr.io/${{ env.PROJECT_ID }}/${{ env.SERVICE }}:${{  github.sha }} \
          --platform "managed" \
          --cpu 2 \
          --memory 4Gi \
          --max-instances 2 \
          --clear-vpc-connector \
          --quiet

