name: Node Continuous Integration - Admin

on:
  pull_request:
    branches: [ master ]

jobs:
  continuous_integration_client:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./admin
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14.16
      - run: npm ci
      - run: npm test
      - run: npm run build
        env:
          CI: false
      
      - name: Archive production artifacts
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: npm_logs
          path: |
            /home/runner/.npm/_logs/*