name: Migration Upgrade DB
on:
  push:
    branches:
      - master

env:
  node-version: 16
  PROJECT_ID: ecoocean
  gcp-cloud-sql-instance: ecoocean-db2

jobs:
  migrate_database:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./server
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ env.node-version}}
      - name: npm install dependencies
        run: |
          npm ci
      - uses: google-github-actions/setup-gcloud@v0
        with:
          project_id: ${{ env.PROJECT_ID }}
          service_account_key: ${{ secrets.RUN_SA_KEY }}
          export_default_credentials: true
      - name: Get Cloud SQL Proxy
        run: |
          wget https://dl.google.com/cloudsql/cloud_sql_proxy.linux.amd64 -O cloud_sql_proxy
          chmod +x cloud_sql_proxy
      - name: Run migration
        env:
          DATABASE_URL: postgres://${{ secrets.DB_USERNAME }}:${{ secrets.DB_PASSWORD }}@localhost:5432/${{ secrets.DB_NAME }}
        run: |
          ./cloud_sql_proxy -instances=ecoocean:europe-west1:ecoocean-db2=tcp:5432 & sleep 10 &&
          npm run migrateUp